:root {
  --bg-clr: #F5F5F5;
  --tx-clr: #262626;
  --pr-clr: #5F5AA2;
  --sc-clr: #C4CAD0;
  --er-clr: #ED254E;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-clr);
  color: var(--tx-clr);
  font-family: 'Roboto', sans-serif;
  margin: 3vmin;
}

h2 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  margin: 1.4rem 0;
}

h3 {
  font-size: 1.5rem;
  margin: 1rem 0 .5rem;
}

input[type="text"], input[type="email"], input[type="password"], select {
  background-color: var(--bg-clr);
  width: 400px;
  height: 56px;
  padding: 0 28px;
  font-size: 1.5rem;
  border-radius: 100vh;
  border: solid 1px var(--tx-clr);
  appearance: none;
}

input[type="checkbox"] {
  display: none;
}

select:invalid {
  color: rgb(38 38 38 / .55);
}

input::placeholder {
  font-size: 1.3rem;
  color: var(--tx-clr);
  vertical-align: middle;
  opacity: .55;
}

.title {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

.body {
  margin: 2rem auto 1rem;
  width: 90vw;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.signup-option {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.signup-option label {
  text-align: center;
  line-height: 50px;
  display: block;
  font-size: 1.2rem;
  width: 250px;
  height: 50px;
  border-radius: 25px;
  background-color: var(--sc-clr);
  transition: all 200ms;
}

.signup-option label:hover {
  background-color: var(--pr-clr);
  color: var(--bg-clr);
}

.signup-option input:checked + label {
  background-color: var(--pr-clr);
  color: var(--bg-clr);
}

#tutor-form form, #student-form form{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.bacic-info .bacic-questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.subject {
  width: 65vw;
  max-width: 900px;
}

.subject .subject-group {
  margin-bottom: 1.5rem;
}

.subject .subject-group div {
  margin: 0 auto;
  width: 95%;
  font-size: 1.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.subject .subject-group div label {
  text-align: center;
  border: solid 1px var(--tx-clr);
  border-radius: 30px;
  padding: 14px;
  cursor: pointer;
  transition: all 200ms;
}

.subject .subject-group div label:hover {
  background-color: var(--pr-clr);
  color: var(--bg-clr);
  border-color: transparent;
}

.subject .subject-group div input:checked + label {
  background-color: var(--pr-clr);
  color: var(--bg-clr);
  border-color: transparent;
}

#signup_as_tutor, #signup_as_student, #login-btn {
  display: block;
  margin: 2rem auto 0;
  text-align: center;
  line-height: 50px;
  width: 250px;
  height: 50px;
  font-size: 1.2rem;
  border-radius: 100vh;
  border: none;
  background-color: var(--sc-clr);
  color: var(--tx-clr);
  transition: all 200ms;
}

#signup_as_tutor:hover, #signup_as_student:hover, #login-btn:hover {
  background-color: var(--pr-clr);
  color: var(--bg-clr);
}

.signup-link, .admin-link {
  margin: .2rem auto;
  text-align: center;
}

.signup-link a, .admin-link a {
  color: var(--pr-clr);
  text-decoration: none;
}

.error-messages p {
  text-align: center;
  color: var(--er-clr);
}

#login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
